# Node
node_modules/
.env
.env.local
.env.production

# Next.js
frontend/.next/
frontend/out/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

/sql
!backend/sql/
!backend/sql/*.sql
